<div class="container portolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfoli_item.main_image, 'main'), width: '100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfoli_item.title %></h1>
      <hr>
      <em><%= @portfoli_item.subtitle %></em>
      <hr>
      <p><%= @portfoli_item.body %></p>
      <hr>
      <h3>Technologies used:</h3>

      <% @portfoli_item.technologies.each do |t| %>
        <p>
          <%= t.name %>
        </p>
      <% end %>
    </div>
  </div>
</div>



